html, body {
    height: 100%;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: "Roboto",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

h2 {
	font-size: 24px;
}

#header {
	border-bottom:3px solid #428bca;
}

#header img {
	width: 100%;
}

#content-wrap {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%; //propotional resize
}

#content {
	background-color:rgba(255,255,255,0.6);
}

#main-content {
	margin-top: 25px;
}
/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/ 
.nav li {
	width:100%;
	margin-bottom: 15px;
	font-weight:bold;
}

.nav li a:hover {
	background-color: #428bca;
    color: #fff;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
#footer {
	background-color: #428bca;
    color: #fff;
}

#footer a {
	color: #fff;
}

/*
|--------------------------------------------------------------------------
| overview
|--------------------------------------------------------------------------
*/
.box-overview {
	margin-bottom:25px;
}

.box-overview .image-container {
    display: block;
    overflow: hidden;
    position: relative;
}

.box-overview img {
	width: 100%;
}

.box-overview img {
    margin: 0;
    transform: scaleY(1);
    transition: all 0.5s ease-in-out 0s;
}

.box-overview:hover img {
	transform: scale(1.1);
}

.box-overview:hover {
	cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| content right
|--------------------------------------------------------------------------
*/ 
.login-button {
	line-height: 24px;
	font-size: 16px;
	color: #fff;
	background: #428bca;
}

/*
|--------------------------------------------------------------------------
| search
|--------------------------------------------------------------------------
*/
.search {
	margin-bottom: 15px;
	border-radius: 4px;
	color: #428bca;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 15px;
	width: 94%;
	border:#428bca 2px solid;
}

.search-button {
	width:5%;
	padding: 10px 0;
	float: right;
	border: none;
	background: #428bca;
}

.glyphicon-search {
	height: 24px;
	color: #fff;
}

.search-button:hover {
	background: #fff;
}

.search-button:hover .glyphicon-search {
	color: #428bca;
}
